* {
  box-sizing: border-box;
}

.btn {
  font-size: small;
}

.book-section {
  background-color: #fff;
}

/* -------------------------------------------------------------------------- */

/*                               IMPORT DEFAULT                               */

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */

/*                              IMPORT COMPNENTS                              */

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */

/*                                  SECTIONS                                  */

/* -------------------------------------------------------------------------- */
