@use '../default' as *;
@use '../components/mixins' as *;

@keyframes pop {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.book-section {
  padding-inline: 0.5rem;

  .table {
    border: 1px solid $primary;
    background-color: $secondary;
    width: 100%;
    box-shadow: 5px 2px 5px rgba($color: #000, $alpha: 0.4);
    min-height: 54px;
    text-align: center;

    &[data-visible="false"] {
      position: relative;

      &::after {
        content: 'No books have been added';
        color: #fff;
        position: absolute;
        top: 25%;
        left: 0;
        width: 100%;
      }
    }

    @include breakpoint(lg) {
      width: 70%;
    }

    .row {
      padding: 0.75rem;
      justify-content: space-between;
      align-items: center;
      background-color: $secondary;
      color: $light;
      animation: pop 0.4s linear;

      &-odd {
        background-color: $light;
        color: $primary;
      }

      &-title {
        font-size: 0.75rem;
        max-width: 50%;
      }
    }
  }
}
